@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
ul,ol {list-style: none;}
img {vertical-align: bottom;}
::selection {
    background: #fff700; }
body {
    width: 100%; height: 100%; position: fixed;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/BG/BGp.png);
    /* padding: 10px; */
    /* margin: auto; */
    position: relative;
    z-index: 1;
}

nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    box-sizing: border-box;
    z-index: 9999;
}

/* 로고설정 */
nav h1 {
    background-image: url(../img/logo/logoB.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 80px;
    z-index: 9999;
    box-sizing: border-box;
    cursor: pointer;
}

/* 메뉴설정 */

header p {
    width: 10%;
    font-size: 16px;
    font-weight: 300;
    /* margin-left: 150px; */
    margin-right: 300px;
    color: #343434;
}

header nav .menu {
    width: 30%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: red; */
    margin-right: 150px;
}

header nav .menu li {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .menu li a {
    display: block;
    color: #343434;
    font-weight: 300;
    font-size: 20px;
    /* transition: all 0.5s; */
}

/* 메뉴 호버했을때 */

header nav .menu li:hover a {
    font-weight: 500;
}



.menu-trigger {
    width: 50px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    right: 50px;
    top: 35px;
    /* background-color: red; */
}

.menu-trigger span {
    width: 50px;
    display: inline-block;
    transition: all 0.5s;
    height: 2px;
    margin-bottom: 5px;
    display: block;
    background-color: #343434;
}

.menu-trigger:hover span:nth-child(1) {
    transform: rotate(16deg) ;
    transform-origin: left center;
}
.menu-trigger:hover span:nth-child(2) {
    opacity: 0;
}   
.menu-trigger:hover span:nth-child(3) {
    transform: rotate(-16deg) ;
    transform-origin: left center;
    }   

/* 배경이미지 작업 */

header .bgtxt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

header .bgtxt ul {
    position: absolute;
    width: 3000px;
    height: 400px;
    left: 0;
    top: 50%;
    margin-top: -200px;
    z-index: 99;
    /* background-color: red; */
}
header .bgtxt  ul li {
    width: 500px;
    height: 500px;
    left: 0;
    top: 0;
}
header .bgtxt img {width: 100%;}


/* 배경텍스트 애니메이트 */

header .bgtxt ul li .bgt1 {
    position: absolute;
    left: 0;
    animation: ani1 100s linear infinite;
}
header .bgtxt ul li .bgt2 {
    position: absolute;
    left: -100%;
    animation: ani2 100s linear infinite;
}
header .bgtxt ul li .bgt3 {
    position: absolute;
    left: 0;
    top: 50%;
    animation: ani3 100s linear infinite;
}

header .bgtxt ul li .bgt4 {
    position: absolute;
    left: 0;
    top: 50%;
    animation: ani4 100s linear infinite;
    
}
/* 상단 애니메이트 설정 */
@keyframes ani1 {
    0% {left: 0;}
    50% {left:100%;}
    50.0001% {left: 0;}
    100% {left: 100%;}
}
@keyframes ani2 {
    0% {left: -100%;}
    50% {left: 0;}
    50.0001% {left: -100%;}
    100% {left: 0;}
}
/* 하단 애니메이트 설정 */
@keyframes ani3 {
    0% {left: 0;}
    50% {left: -100%;}
    50.0001% {left: 0%;}
    100% {left: -100%;}
}
@keyframes ani4 {
    0% {left: 100%;}
    50% {left: 0%;}
    50.0001% {left: 100%;}
    100% {left: 0%;}
}



/* 이미지 */

header .maininer {
    width: 100%;
    height: 100%;
}
header .mainimg {
    width: 100%;
    
}
header .mainimg li:nth-child(1) {
    background-image: url(../img/album/a6-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 280px;
    position: absolute;
    z-index: 999;
    left: 10%;
    top: 45%;
    overflow: hidden;
    /* background-color: red; */
}
header .mainimg li:nth-child(2) {
    background-image: url(../img/album/a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 999;
    left: 22%;
    top: 15%;
    overflow: hidden;
    /* background-color: aqua; */
}

header .mainimg li:nth-child(3) {
    background-image: url(../img/album/a2-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 330px;
    position: absolute;
    z-index: 999;
    left: 28%;
    bottom: 5%;
    overflow: hidden;
    /* background-color: aqua; */
}
header .mainimg li:nth-child(4) {
    background-image: url(../img/img/cctv1-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 300px;
    position: absolute;
    z-index: 9999;
    left: 45%;
    top: 48%;
    overflow: hidden;
    /* background-color: aqua; */
}

header .mainimg li:nth-child(5) {
    background-image: url(../img/th/TheChainsmokers1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 382px;
    height: 200px;
    position: absolute;
    z-index: 9999;
    right: 27%;
    top: 18%;
    overflow: hidden;
    /* background-color: aqua; */
}

header .mainimg li:nth-child(6) {
    background-image: url(../img/album/a7-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 280px;
    position: absolute;
    z-index: 9999;
    right: 10%;
    top: 45%;
    overflow: hidden;
    /* background-color: aqua; */
}

header .maintxt {
    position: absolute;
    left: 10%;
    bottom: 6%;
    width: 400px;
    height: 150px;
    /* background-color: red; */
    z-index: 9998;
}
header .maintxt ul{
    width: auto;
    height: auto;
}
header .maintxt ul li{
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    color: #fff;
}

/* 이미지 호버시 동영상 설정 */


header .mainimg li:nth-child(1) video {
    position: absolute;
    width: 500px;
    height: 100%;
    left: -100px;
    top: 0;
    display: none;
} 
header .mainimg li:nth-child(1):hover video {
    display: block;
}
/* 두번째 비디오 */
header .mainimg li:nth-child(2) video {
    position: absolute;
    width: 450px;
    height: 100%;
    left: -50px;
    top: 0;
    display: none;
} 
header .mainimg li:nth-child(2):hover video {
    display: block;
}

/* 세번째 비디오 */
header .mainimg li:nth-child(3) video {
    position: absolute;
    width: 590px;
    height: 100%;
    left: -165px;
    top: 0;
    display: none;
} 
header .mainimg li:nth-child(3):hover video {
    display: block;
}

/* 네번째 비디오 */
header .mainimg li:nth-child(4) video {
    position: absolute;
    width: 800px;
    height: 340px;
    left: -175px;
    top: -30px;
    display: none;  
}
header .mainimg li:nth-child(4):hover video {
    display: block;
}

/* 다섯번쨰 비디오 */
header .mainimg li:nth-child(5) video {
    position: absolute;
    width: 800px;
    height: 290px;
    left: -210px;
    top: -20px;
    display: none;  
}
header .mainimg li:nth-child(5):hover video {
    display: block;
}

/* 여섯번째 비디오 */

header .mainimg li:nth-child(6) video {
    position: absolute;
    width: 800px;
    height: 280px;
    left: -290px;
    top: 0;
    display: none;  
}
header .mainimg li:nth-child(6):hover video {
    display: block;
    
}







/* 사이드 메뉴 설정 */


section {
    width: 100%;
    height: 100vh;
    left: 100%;
    top: 0;
    position: fixed;
    transition: all 1.5s;
    z-index: 999;
}

.sideH {

}
/* 로고설정 */

.side .sideH h2 {
    background-image: url(../img/logo/logoW.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 80px;
    z-index: 99;
    box-sizing: border-box;
    position: absolute;
    left: 40px;
    top: 3px;
}

/* 햄버거 버튼설정 */

.side .sideH .menu-trigger2 {
    position: absolute;
    width: 50px;
    height: 20px;
    cursor: pointer;
    /* background-color: red; */
    z-index: 99;
    top: 35px;
    right: 40px;
}

.side .menu-trigger2 span {
    width: 50px;
    display: inline-block;
    transition: all 0.5s;
    height: 2px;
    margin-bottom: 5px;
    display: block;
    background-color: #fff;
}

    .side .menu-trigger2 span:nth-child(1) {
        transform: rotate(16deg) ;
        transform-origin: left center;
    }
    .side .menu-trigger2 span:nth-child(2) {
        opacity: 0;
    }   
    .side .menu-trigger2 span:nth-child(3) {
        transform: rotate(-16deg) ;
        transform-origin: left center;
        }
        
/* 햄버거 호버  */
        .side .menu-trigger2:hover span:nth-child(1) {
            transform: rotate(0deg) ;
            transform-origin: left center;
        }
        .side .menu-trigger2:hover span:nth-child(2) {
            opacity: 1;
        }   
        .side .menu-trigger2:hover span:nth-child(3) {
            transform: rotate(0) ;
            transform-origin: left center;
            }
    


/* side 메뉴설정 */



.sideNav {
    width: 100%;
    height: 100vh;
    background-image: url(../img/BG/BGb.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
}


/* side 메뉴바  */

.sideNav .sideM {
    position: relative;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.sideNav .sideM ul {
position: absolute;
width: 80%;
left: 10%;
top: 20%;
}

.sideNav .sideM ul li {
    width: 100%;
    padding: 10px;
}

.sideNav .sideM ul li a {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    
}

.sideNav .sideM ul li:hover a {
    font-weight: 500;
}



/* 사이드매뉴 1 앨범 설정 */

.sideNav .sideM1 {
    position: relative;
    width: 20%;
    height: 100vh;
    left: 0%;
    top: 0%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.sideNav .sideM1 ul {
    position: absolute;
    width: 250px;
    left: 10%;
    bottom: 30%;
    box-sizing: border-box;
}
.sideNav .sideM1 ul li {
    width: 100%;
    padding: 10px;
    
}
.sideNav .sideM1 ul li a {
    width: 100%;
}
.sideNav .sideM1 ul li:nth-child(1) a p {
    background-image: url(../img/album/a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}


.sideNav .sideM1 ul li:nth-child(1) a {
    display: block;
    padding-bottom: 10px;
}
.sideNav .sideM1 ul li:nth-child(2) a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.sideNav .sideM1 ul li:nth-child(3) a {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
}

.sideNav .sideM1 ul li:nth-child(1):hover a {

}




/* 사이드매뉴 2 퍼포먼스 설정 */

.sideNav .sideM2 {
    position: relative;
    width: 20%;
    height: 100vh;
    left: 0%;
    top: 0%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.sideNav .sideM2 ul {
    position: absolute;
    width: 250px;
    left: 10%;
    bottom: 30%;
    box-sizing: border-box;
}
.sideNav .sideM2 ul li {
    width: 100%;
    padding: 10px;
    
}
.sideNav .sideM2 ul li a {
    width: 100%;
}
.sideNav .sideM2 ul li:nth-child(1) a p {
    background-image: url(../img/th/The\ Chainsmokers2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 350px;
}

.sideNav .sideM2 ul li:nth-child(1) a {
    display: block;
    padding-bottom: 10px;
}
.sideNav .sideM2 ul li:nth-child(2) a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
.sideNav .sideM2 ul li:nth-child(3) a {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
}

/* 사이드매뉴 3 어바웃 설정 */

.sideNav .sideM3 {
    position: relative;
    width: 20%;
    height: 100vh;
    left: 0%;
    top: 0%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.sideNav .sideM3 ul {
    position: absolute;
    width: 250px;
    left: 10%;
    bottom: 30%;
    box-sizing: border-box;
}
.sideNav .sideM3 ul li {
    width: 100%;
    padding: 10px;
    
}
.sideNav .sideM3 ul li a {
    width: 100%;
}
.sideNav .sideM3 ul li:nth-child(1) a p {
    background-image: url(../img/th//The\ Chainsmokers3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.sideNav .sideM3 ul li:nth-child(1) a {
    display: block;
    padding-bottom: 10px;
}
.sideNav .sideM3 ul li:nth-child(2) a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.sideNav .sideM3 ul li:nth-child(3) a {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
}

/* 사이드매뉴 4 갤러리 설정 */

.sideNav .sideM4 {
    position: relative;
    width: 20%;
    height: 100vh;
    left: 0%;
    top: 0%;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.sideNav .sideM4 ul {
    position: absolute;
    width: 250px;
    left: 10%;
    bottom: 30%;
    box-sizing: border-box;
}
.sideNav .sideM4 ul li {
    width: 100%;
    padding: 10px;
    
}
.sideNav .sideM4 ul li a {
    width: 100%;
}
.sideNav .sideM4 ul li:nth-child(1) a p {
    background-image: url(../img/th//The\ Chainsmokers4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
}

.sideNav .sideM4 ul li:nth-child(1) a {
    display: block;
    padding-bottom: 10px;
}
.sideNav .sideM4 ul li:nth-child(2) a {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
.sideNav .sideM4 ul li:nth-child(3) a {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
}







