@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 전체설정 */
* {
    margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {
    text-decoration: none;
    color: #000;}
img {
    border: none;
    vertical-align: bottom;}

body {font-family: 'Nanum Gothic', sans-serif;}




/* 헤더설정 */
.boxA {
    background-color: #F7F6F2;
    width: 15%;
    height: 100%;
    position: fixed;
}

/* 네비 설정 */
.nav {
    background-color: #F7F6F2;
    width: 15%;
    height: 100%;
    position: fixed;
}



/* 로고 */
.logo {
    width: 163px;
    height: 92px;
    background-image: url(../img/logo/logo_1.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;


}
.logo a {
    display: block;}
.logo a:hover {}



/* 메뉴 */

.manu {}
.manu ul {}
.manu ul li {}
.manu li a {
    display: block;
    padding: 10px 15px;
}
.manu li a:hover {
    background-color: #F84C26;
    color: #F7F6F2;
}

/* 메뉴하단 */


.login {}
.login ul {}
.login ul li {}
.login li a {}
.login li a:hover {
    background-color: #F84C26;
    color: #F7F6F2;
}



/* 히어로설정 */


.hero {
    width: 85%;
    height: 80vh;
    margin-left: 15%;
    }

.hero img {width: 100%;}



/* 히어로2 설정 */


.hero2 {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    
    background-color: #F84C26;
    box-sizing: border-box;
    }

.hero2 img {width: 100%;}







/* 특별전시 배너 설정 */

.b001 {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    background-color: #F84C26;
    }

.b001 img {width: 100%;}



/* 이벤트 설정 */


/* 프로그램설정 */
.pro {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    background-color: #F84C26;
    }

.pro ul {display: flex;}
.pro ul li {
    display: flex;
    padding: 10px;
}
.pro li a {}
.pro li a img {}








/* 좌우 여백설정 */

.box1-2, .box3-1, .box3-3, .box3-4, .box4, .box5 {
    margin-left: 15%;
}







/* 미디어 쿼리 구간///////////////////////// */





/* 788px 이상구간 */

@media (min-width:768px) {
/* 레이아웃설정 */





/* 박스1 과 박스2 의 세로정렬 */




}

/* 1024px 이하 구간 */

@media(max-width:1024px) {
.boxA {
    display: flex;
    justify-content: space-between;
}





}





